@font-face {
  font-family: 'NikeFont';
  src: url('font/Futura\ Std\ Extra\ Bold\ Condensed\ Oblique.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
nav {
  display: flex;
  align-items: center;
  
  box-shadow: 1px 3px 3px gray;
}
*{
  font-family: 'NikeFont', sans-serif;
}
a {
  text-decoration: none;
  padding: 20px;
  
  color: black;
  font-size: 24px
}
nav img {
  margin-right: auto;
  margin-left: 20px;
}
.just-in{
  margin-top: 20px;
  position: relative;
  width: fit-content;
}

img{
  border-radius: 5px;
  flex-wrap: nowrap;
}

svg {
  fill: black;
  transition: 0.3s ease;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
svg:hover{
  background-color: rgb(169, 167, 167);
  border-radius: 100px;
  
}
.links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.middle {
  display: flex;
  gap: 100px ;
}
.categories{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px ;
  margin-top: 20px;
  margin-left: 0px;
  right: 10px;
}
.middle .just-in img {
  width: 100%;
  position: relative;
}
.text-just-in {
  position: absolute;
  right: 15px;
  font-size: 80px;
  top: 0;
  color: white;
  text-decoration: underline white;
}
.link-just-in {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 30px;
}
.categories img:hover {

  transform: scale(1.2);
}
.links-container a{
  transition: 0.3s ease;
}
.text {
  opacity: 1;
  text-align: center;
  margin-top: 13px;
  font-size: 20px;
}
.item {
  display: flex;
  flex-direction: column;
}
.text:hover {
  opacity: 1;
}
.categories img {
  transition: 0.2s ease;
}
p {
  font-size: 20px; 
  font-weight: 100;
}
h1 {
  font-size: 70px;
  position: relative;
  width: fit-content;
}
.about {
  display: flex;
  align-items: center;
  gap: 30px ;
}
h1::before {
  content: '';
  position: absolute;
  background: linear-gradient(to right, black,blue);
  width: 100%;
  height: 10px;
  bottom: 0;
  left: 0;
  border-radius: 5px;
}
#sidebar-active {
  display: none ;
}
.bottom {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  margin-top: 50px;
}
.open-sidebar-button, .close-sidebar-button{
  display: none;
}
.links-container a:hover{
  background-color: rgb(125, 125, 125);
  border-radius: 5px;
}
@media(max-width: 450px) {
  .middle {
    display: flex;
    flex-direction: column;
    gap: 20px ;
    
  }
  .links-container a:hover{
    background-color: rgb(125, 125, 125);

  }
  .text-just-in {
    font-size: 30px;
  }
  .link-just-in {
    font-size: 20px;
  }
  .just-in{
    width: 100%;
  }
  .just-in img {
    width: 100%;
  }
  .links-container a {
    color: white;
  }
  .links-container svg {
    display: block;
    fill: rgb(255, 255, 255);
  }
  .categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .open-sidebar-button, .close-sidebar-button{
    padding: 20px;
    display: block;
  }
  .close-sidebar-button {
    fill: white;
  }
  .links-container{
    flex-direction: column;
    align-items: flex-start;
    height: 100%;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;

    background-color:black;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-out;
  }
  .links-container a{
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
    transition: 0.5s ease;
  }
  #sidebar-active:checked ~ .links-container{
    right: 0;
  }
  
  .close-sidebar-button {
    fill: white;
  }

  .about img{
    display: none;
  }
  .categories img{
    margin-top: 0;
    display: flex;
    flex-direction: row;
    gap: 20px ;
    flex-wrap: wrap;
  }
  .images-categories {
    padding-left: 20px;
  }
}
